nav {
    background: #333333;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dd1818, #333333);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dd1818, #333333);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

body {
    background-color: #373838c4;
    font-family: 'Reggae One', cursive;
}

#contacto {
    background-color: #9c524d;
    background-image: url(img/dojo.png);
    background-blend-mode: multiply;
}

a {
    text-decoration: none;
    color: white;

}
h1{
    color: #530404;
    text-shadow: #f5f5f5 2px 2px 5px;
}




a:hover {
    color: #dd1818;
}

i:hover {
    color: #dd1818;
}

.btn-custom {
    background-color: #490202;
    border-color: #490202;
    
}

.btn-custom:hover {
    background-color: #770b0b;
    border-color: #770b0b;
    
}
